body {
    color: lightgrey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height:1.4em;
    margin: auto;
    width: 80%;
}

.mainnav li {
    float:left;
    display:inline;
    width:33%;
    box-sizing:border-box;
    border: 5px solid rgb(177, 226, 241);
    margin-bottom:15px;
    background-color:rgb(208, 232, 240);
}

a {
    text-decoration:none;
    font-weight: bold;
    color: rgb(22, 191, 233);
}

h1, h2, p {
    padding: 0 15px;
}

.lightblue-border {
    border: 5px solid rgb(177, 226, 241);
}

.boxmodel {
    width: 500px;
    margin: 0 auto;
    border: 10px dotted darkblue;
    padding: 10px;
}

#blue-background {
    background-color: rgb(22, 191, 233);
}

.displayblock {
    display: block;
    padding: 25px;
}

footer {
    padding: 15px;
}